{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Job Listing</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <header id="header" id="home" class="bg-dark">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="{% static 'img/all-in-one.png' %}" alt="" title=""
                      style="width: 200px; height: 50px;"></a>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
                        <li><a class="ticker-btn" href="{% url 'profile_setting' %}">Profile setting</a></li>
                        <li><a class="ticker-btn" href="{% url 'messages' %}"> <img src="{% static 'img/email.png' %}"> <span style="color: yellow;">{% if message_count > 0 %}{{message_count}}{% endif %}</span></a></li>
                        <li><a class="ticker-btn" href="{% url 'sign_out' %}">Sign out</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->


    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 post-list blog-post-list">
                    {% for post in post %}
                    <div class="single-post">
                        <img class="img-fluid" src="{{post.image.url}}" alt="">
                        <ul class="tags">
                            <li><a>{{post.published}}</a></li>
                        </ul>
                        <a href="{% url 'post_detail' post.id %}">
                            <h1>{{post.title}}</h1>
                        </a>
                        <p>{{post.body|truncatewords:50}}</p>
                    </div>
                    {% endfor %}
                    <hr>
                    <h1>Protfolio</h1>
                    <hr>
                    <hr>
                    {% for portfolio in portfolio %}
                    <div class="single-post">
                        <img class="img-fluid" src="{{portfolio.image.url}}" alt="">
                        <ul class="tags">
                            <li><a>{{portfolio.created_at}}</a></li>
                        </ul>
                        <a href="">
                            <h1>{{portfolio.name}}</h1>
                        </a>
                        <a href="{{portfolio.link}}">Here is link to visit</a>
                        <p>{{portfolio.description}}</p>
                    </div>

                    {% endfor %}
                </div>
                <div class="col-lg-4 sidebar">


                    <div class="single-widget protfolio-widget">
                        <img src="{{profile.image.url}}" alt="" style="width: 200px; height:200px;">
                        <a><h4>{{profile.name}} {{profile.surname}}</h4></a>
                        <p>{{profile.additional}}</p>
                        <ul>
                            <li><a href="{{profile.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="{{profile.telegram}}"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="{{profile.instagram}}"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="{{profile.github}}"><i class="fa fa-github"></i></a></li>
                        </ul>
                        <!-- <a href="" class="btn btn-outline-success">Write message</a> -->
                    </div>
                    <div class="form-control col-md-12">
                        <form action="" method="post" style="margin-top:5px;">
                            <h5 class="mb-2">Write message</h5>
                            {% csrf_token %}
                            <input type="hidden" name="user_sender" value="{{request.user.profile.name}}">
                            <input type="hidden" name="user_receiver" value="{{profile.user.id}}">
                            <!-- {{message.user_receiver}} -->
                            {{message.body}}
                            <button type="submit" class="btn btn-outline-success mt-2">Send</button>
                        </form>
                    </div>

                    <div class="single-widget category-widget">
                        <ul>
                            <li><a class="justify-content-between align-items-center d-flex"><h6>
                            {{profile.category}}</h6> <span></span></a></li>
                            <li><a class="justify-content-between align-items-center d-flex"><h6>
                            {{profile.mobile}}</h6> <span></span></a></li>
                            <li><a class="justify-content-between align-items-center d-flex"><h6>
                            {{profile.user.email}}</h6> <span></span></a></li>
                            <li><a class="justify-content-between align-items-center d-flex"><h6>
                            {{profile.region}}</h6> <span></span></a></li>
                            <li><a class="justify-content-between align-items-center d-flex"><h6>
                            {{profile.address}}</h6> <span></span></a></li>
                            <li><a class="justify-content-between align-items-center d-flex"><h6>Birthday:
                            {{profile.birthday}}</h6> <span></span></a></li>
                        </ul>

                    </div>

                    <div class="single-widget recent-posts-widget">
                        <h4 class="title">Education</h4>
                        {% for education in education %}
                        <div class="blog-list ">
                            <div class="single-recent-post d-flex flex-row">
                                <div class="recent-details">
                                    <a>
                                        <h4>{{education.profession}}
                                        </h4>
                                    </a>
                                    <p>{{education.degree}}</p>
                                    <p>
                                       {{education.university}} department:{{education.department}} 
                                    </p>
                                    <p>
                                        {{education.years}} - years
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <h4 class="title"> Experience</h4>
                        {% for experience in experience %}
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-details">
                                <a>
                                    <h4>{{experienc.job_name}}</h4>
                                    <p>{{experience.job_position}}</p>
                                </a>
                                <h6>{{experience.company}}</h6>
                                <p>{{experince.years}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <h4 class="title"> Skills</h4>
                        {% for skill in skill %}
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-details">
                                <a>
                                    <h4>{{skill.name}} <span>{{skill.percentage}} %</span></h4>
                                </a>
                                <p> experience: {{skill.experience}} years</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-12">
                    <div class="single-footer-widget">
                        <h6>Top Products</h6>
                        <ul class="footer-nav">
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#">Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6  col-md-12">
                    <div class="single-footer-widget newsletter">
                        <h6>Newsletter</h6>
                        <p>You can trust us. we only send promo offers, not a single spam.</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" novalidate="true"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">

                            <div class="form-group row" style="width: 100%">
                                <div class="col-lg-8 col-md-12">
                                    <input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                        type="text">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <button class="nw-btn primary-btn">Subscribe<span
                                        class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                </div>
                                <div class="info"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="{% static 'js/easing.min.js' %}"></script>
    <script src="{% static 'js/hoverIntent.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
